html{
    scroll-behavior: smooth;
}

body {
    color: var(--text-color); /* Resets the foreground color of the body text to use text-color */
}


a {
    color: var(--text-color); /* Resets the foreground color of all anchor elements to use text-color */
}

.visually-hidden {
    display: none; /* Keeps the 'visually-hidden' elements hidden */
}

.card-category,
.section-tagline {
    color: var(--color-primary); /* Resets the foreground color of elements with 'card-category' and 'section-tagline' classes to use color-primary */
}

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

