@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


/* The 'html' selector is used to style the entire page */
html {
    scroll-behavior: smooth;/* Enables smooth scrolling for the entire page */
    font-size: 62.5%;/* Sets base font size to 10px for easier rem calculations */
}


/* The 'body' selector is used to style the entire page */
body {
    color: var(--text-color); /* Resets the foreground color of the body text to use text-color */
    font-family: var(--font-family-base); /* Sets the body's font family to font-family-base */
    font-size: var(--font-size-medium); /* Sets the body's font size to font-size-medium */
    font-weight: var(--font-weight-regular); /* Sets the font weight for the body text to font-weight-regular */
}


/* The 'h1', 'h2', 'h3', 'h4', 'h5', and 'h6' selectors are used to style all heading levels */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title); /* Sets the font family for all heading levels to font-family-title */
    font-weight: var(--font-weight-bold); /* Sets the font weight for all heading levels to font-weight-bold */
}


/* The 'a' selector is used to style all anchor elements */
a {
    color: var(--text-color); /* Resets the foreground color of all anchor elements to use text-color */
}


/* The 'visually-hidden' class is used to hide elements from the screen while keeping them accessible to screen readers */
.visually-hidden {
    display: none; /* Keeps the 'visually-hidden' elements hidden */
}


/* The 'card-category' and 'section-tagline' classes are used to style the category and tagline sections of the page */
.card-category,
.section-tagline {
    color: var(--color-primary); /* Resets the foreground color of elements with 'card-category' and 'section-tagline' classes to use color-primary */
}


/* The ':root' pseudo-class is used to define global CSS variables */
:root {
    --color-primary: #d73953;/* Sets the primary color to #d73953 */
    --color-black: #090909;/* Sets the black color to #090909 */
    --color-white: #ffffff;/* Sets the white color to #ffffff */
    --color-light-grey: #f3f3f3;/* Sets the light-grey color to #f3f3f3 */
    --color-dark-grey: #353535;/* Sets the dark-grey color to #353535 */
    --text-color: var(--color-black);/* Sets the text color to color-black */
    --font-family-base: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;/* Sets the font family for the entire page to 'Helvetica Neue', Helvetica, Arial, sans-serif */
    --font-family-title: 'Raleway','Helvetica Neue', Helvetica, Arial, sans-serif;/* Sets the font family for all heading levels to 'Helvetica Neue', Helvetica, Arial, sans-serif */
    --font-size-small: 1.2rem;/* Sets the base font size to 12px */
    --font-size-medium: 1.6rem;/* Sets the base font size to 16px */
    --font-size-large: 1.8rem;/* Sets the base font size to 18px */
    --font-size-x-large: 2.3rem;/* Sets the base font size to 23px */
    --font-size-xx-large: 4.8rem;/* Sets the base font size to 48px */
    --font-weight-regular: 400;/* Sets the font weight for regular text to 400 */
    --font-weight-bold: 700;/* Sets the font weight for bold text to 700 */
}
